@{
    Layout = "~/Views/Shared/HomeLayout.cshtml";

}

<div class="banner">
    <div class="banner_background" style="background-image:url('/Content/OneTech/images/banner_background.jpg')"></div>
    <div class="container fill_height">
        <div class="row fill_height">
            @*<div class="banner_product_image" style="padding-left: 66%"><img src="~/Content/OneTech/images/jpg.png" alt="" style=" width 100%; height 50%;"></div>*@
            <div class="banner_product_image"><img src="~/Content/OneTech/images/banner_product.png" alt=""></div>
            <div class="col-lg-5 offset-lg-4 fill_height">
                <div class="banner_content">
                    <h1 class="banner_text">Бесплатная доставка</h1>
                    <div class="banner_price"><span>15000 сум</span>0 сум</div>
                    <div class="banner_product_name">Теперь вы можете заказать </div>
                    <div class="banner_product_name"> из мобильного приложения...</div>
                    <div class="button banner_button"><a href="/home/shop">Заказать сейчас</a></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="characteristics">
    <div class="container">
        <div class="row">

            <!-- Char. Item -->
            <div class="col-lg-3 col-md-6 char_col">

                <div class="char_item d-flex flex-row align-items-center justify-content-start">
                    <div class="char_icon"><img src="~/Content/OneTech/images/char_1.png" alt=""></div>
                    <div class="char_content">
                        <div class="char_title" style="font-size:13px">Бесплатная доставка</div>
                        <div class="char_subtitle">0 сум</div>
                    </div>
                </div>
            </div>

            <!-- Char. Item -->
            <div class="col-lg-3 col-md-6 char_col">

                <div class="char_item d-flex flex-row align-items-center justify-content-start">
                    <div class="char_icon"><img src="~/Content/OneTech/images/char_2.png" alt=""></div>
                    <div class="char_content">
                        <div class="char_title" style="font-size:13px">Обновление продуктов</div>
                        <div class="char_subtitle">Каждый день</div>
                    </div>
                </div>
            </div>

            <!-- Char. Item -->
            <div class="col-lg-3 col-md-6 char_col">

                <div class="char_item d-flex flex-row align-items-center justify-content-start">
                    <div class="char_icon"><img src="~/Content/OneTech/images/char_3.png" alt=""></div>
                    <div class="char_content">
                        <div class="char_title" style="font-size:13px">Срочная доставка</div>
                        <div class="char_subtitle">15000 сум</div>
                    </div>
                </div>
            </div>

            <!-- Char. Item -->
            <div class="col-lg-3 col-md-6 char_col">

                <div class="char_item d-flex flex-row align-items-center justify-content-start">
                    <div class="char_icon"><img src="~/Content/OneTech/images/char_4.png" alt=""></div>
                    <div class="char_content">
                        <div class="char_title" style="font-size:13px">Получайте скидку</div>
                        <div class="char_subtitle">Два раза в неделю</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container"></div>

